.container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  height: 100vh;
}

.coluna {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 600px;
  width: 300px;

  p {
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    margin: 1rem;
    padding-bottom: 0.5rem;
  }
}

.coluna-fazer {
  p {
    border-color: red;
  }
  .item {
    border-color: red;
  }
}

.coluna-andamento {
  p {
    border-color: rgb(223, 223, 28);
  }
  .item {
    border-color: rgb(223, 223, 28);
  }
}

.coluna-concluido {
  p {
    border-color: green;
  }
  .item {
    border-color: green;
  }
}
