.auth-container {
  align-items: center;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  margin: 0 auto;
  width: 350px;
}

.auth-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-error {
  align-items: center;
  background-color: #e01717;
  color: #fff;
  display: none;
  font-size: 0.8rem;
  justify-content: center;
  height: 25px;
  margin: 0 0 1rem;
  width: 280px;

  p {
    margin: 0;
  }
}

.auth-error.err-visible {
  display: flex;
}

.auth-title {
  color: #3b97f3;
  font-size: 2rem;
  margin: 0;
}

.form-container {
  button {
    background-color: #3b97f3;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin: 0.5rem 0 1rem;
    width: 280px;
  }
}

.form-square {
  align-items: center;
  background-color: #3b97f3;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 40px;

  svg {
    color: #ededed;
    width: 20px;
  }
}

.form-data {
  display: flex;
  margin-bottom: 0.5rem;
  height: 30px;
  width: 280px;

  input {
    border: none;
    color: #707070;
    font-size: 0.7rem;
    padding-left: 0.5rem;
    width: 100%;
  }
}

.auth-register,
.auth-login {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;

  span {
    color: #3b97f3;
  }
}

.auth-remote {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 5rem 0 0;
  text-align: center;

  span {
    color: #3b97f3;
  }
}
