.item {
  align-items: center;
  border: 1px solid black;
  border-left: 6px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  height: 50px;
  margin: 0 1rem;
  padding: 0 0.8rem;
}
