.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-error {
  align-items: center;
  background-color: #e01717;
  color: #fff;
  display: none;
  font-size: 0.8rem;
  justify-content: center;
  height: 25px;
  margin: 0 0 1rem;
  width: 280px;

  p {
    margin: 0;
  }
}

.login-error.err-visible {
  display: flex;
}

.login-title {
  color: #814ff8;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-container {
  button {
    background-color: #814ff8;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin: 0.5rem 0 4rem;
    width: 280px;
  }
}

.form-square {
  align-items: center;
  background-color: #2a2938;
  display: flex;
  justify-content: center;
  width: 40px;

  svg {
    color: #814ff8;
    width: 20px;
  }
}

.form-data {
  display: flex;
  margin-bottom: 0.5rem;
  height: 30px;
  width: 280px;

  input {
    border: none;
    font-size: 0.7rem;
    padding-left: 0.5rem;
    width: 100%;
  }
}

.login-register {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0;

  span {
    color: #814ff8;
  }
}
