.navbar-container {
  align-items: center;
  background: #472787;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-user {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

.navbar-log {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
  }
  svg {
    color: #fff;
    font-size: 1.3rem;
  }
}

.navbar-login_modal {
  background-color: rgb(228, 228, 228);
  height: 350px;
  left: 50%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 10000000;

  p {
    margin: 0;
  }
}