.navbar-container {
  align-items: center;
  background: #472787;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-user {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

.navbar-log {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  svg {
    color: #fff;
    font-size: 1.3rem;
  }

  &:hover {
    transform: scale(1.05);
  }

  @media (min-width: 1100px) {
    p {
      font-size: 1.1rem;
    }

    svg {
      font-size: 1.5rem;
    }
  }
}
